<!DOCTYPE HTML>
<uib-tabset>
  <uib-tab>
    <uib-tab-heading>
      <i class="fa fa-plus"></i> New Posting
    </uib-tab-heading>
    <!-- <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled"> -->
    <div class="row marketing">
      <form class=" form-horizontal" ng-submit="createPosting()">
        <!-- <div>{{posting}}</div> -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Facility</label>
          <div class="col-sm-10">
            <select class="form-control btn btn-default" name="singleSelect" id="singleSelect" ng-model="posting.facility">
              <option value="">---Select---</option> <!-- not selected / blank option -->
              <option ng-repeat="facility in facilities" value="{{facility.id}}">{{facility.name}}</option> <!-- interpolation -->
            </select>
            <!-- <br> -->
            <!-- <select class="form-control btn btn-default" ng-options="facility.name for facility in facilities track by facility.id"
            ng-model="posting.facility">
          </select> -->
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Shift Date</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="posting.date" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Shift Start Time</label>
        <div class="col-sm-10">
          <uib-timepicker class="col-sm-3" ng-model="posting.startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
          <!-- <div class="col-sm-3"></div>
          <button type="button" class="btn btn-info col-sm-3" ng-click="toggleMode()"><i class="fa fa-clock-o"></i> 12H / 24H</button>
          <button type="button" class="btn btn-danger col-sm-2" ng-click="clear()"><i class="fa fa-trash"></i> Clear</button> -->
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Shift End Time</label>
        <div class="col-sm-10">
          <uib-timepicker ng-model="posting.endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Allow Roles</label>
        <div class="col-sm-10">
          <div class="radio" ng-repeat="role in roles">
            <input type="radio" name="radioRole" id="radio{{role.$id}}" value="{{role.id}}" ng-model="posting.role" />
            <label for="radio{{role.$id}}">
              {{role.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" >
        <label class="col-sm-2 control-label">Certifications Required</label>
        <div class="col-sm-10">
          <div class="checkbox col-sm-6" ng-repeat="certification in certifications">
            <input type="checkbox" id="checkbox{{certification.$id}}" ng-model="posting.certifications[certification.id]"/>
            <label for="checkbox{{certification.$id}}">
              {{certification.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" >
        <div class="col-sm-10 col-sm-span-2">
          <input type="submit" name="Create Posting" class="btn btn-success">Create Posting</input>
        </div>
      </div>
    </form>
  </div>
</uib-tab>
<uib-tab>
  <uib-tab-heading>
    <i class="fa fa-list"></i> Current Postings
  </uib-tab-heading>
  <div class="row marketing">
    <h4>Firebase</h4>
    <p>
      Firebase is a powerful API to store and sync data in realtime.
    </p>

    <h4>Create Posting</h4>
    <p>

    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
</uib-tab>
</uib-tabset>
