
<!DOCTYPE HTML>
<div class="page-header">
  <h1>Good {{getGreetingTime()}}! <small>What do you want to do today?</small></h1>
</div>
<div class="row col-sm-offset-4 col-sm-4">
  <!-- <a class="btn btn-primary btn-lg btn-block" ui-sref="app.login" role="button"><i class="fa fa-sign-in"></i> Login</a> -->
  <a class="btn btn-primary btn-lg btn-block" ui-sref="app.postings.list" role="button"><i class="fa fa-list"></i> View Postings</a>
  <a class="btn btn-primary btn-lg btn-block" ui-sref="app.postings.create" role="button"><i class="fa fa-plus"></i> Create Postings</a>
</div>
<p class="row"></p>
