<div class="row marketing">
  <div class="panel panel-default" ng-repeat="posting in postings">
    <div class="panel-body">
      <div class="col-sm-8">
        <div><h5><i class="fa fa-location-arrow"></i> Facility</h5>
          <p class="lead">{{getFacilityName(posting.facility)}}</p>
        </div>
        <div><h5><i class="fa fa-calendar"></i> Date</h5>
          <p class="lead">{{posting.date | date :'EEE, MMM-dd, yyyy'}}</p>
        </div>
        <div><h5><i class="fa fa-clock-o"></i> Shift</h5>
          <p class="lead">{{posting.startTime | date :'hh:mm a' }}
            <i class="fa fa-long-arrow-right"></i> {{posting.endTime | date :'hh:mm a'}} ({{getTimeDifference(posting.endTime,posting.startTime)}})
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <button class="btn btn-success btn-icon btn-posting" ng-show="isManager"><i class="fa fa-list"></i> View Claims</button>
          <button class="btn btn-danger btn-icon btn-posting" ng-show="isManager"><i class="fa fa-trash"></i> Delete</button>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
          <!-- <th>H4</th> -->
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in posting.users">
          <th>{{Users.getName(user.userId)}}</th>
          <td>{{user.status}}</td>
          <td>{{user.acceptedTime}}</td>
          <td><i class="fa fa-check fa-lg"></i></td>
          <td><i class="fa fa-trash fa-lg"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
